

:root {
    --primary-color: #4A7C59;
    --secondary-color: #D67D3E;
    --accent-color: #E8B047;
    --text-color: white;
    --font-heading: "Playfair Display";
    --font-paragraph:"Lato"

}


body {
    margin: 0 auto;
    padding: 10px;


}

h1, h2 {
    font-family: var(--font-heading);
}

p {
    font-family: var(--font-paragraph);

}


header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

header span {
    margin: 20px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--font-heading);
    text-align: center;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;

}

#myButton {
    font-size: 2rem;
    background:none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

#myButton::before {
    content: "\2630";
}

#myButton.open::before {
    content: "X";
}

ul.menuLinks {
    display:none;
}

ul.menuLinks.open {
    display: block;
}

nav {
    background-color: var(--secondary-color);
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: .75rem 2vw;
}

nav a {
    display: block;
    color: var(--text-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color .3s;

}

nav a:hover {
    background-color: var(--accent-color);
}

nav .active {
    background-color: rgba(0,0,0,0.2);
}


ul.menuLinks li a {
    display: block;
}

.hero picture {
    width: 100vw;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    margin: 1rem 2vw;
}

main h1 {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);
}
.card {
    border: 1px solid var(--primary-color);
    border-radius: 2px;
    margin: 1rem 0;
    overflow: hidden;
    padding: 10px;

}

.card li {
    padding: 5px;
}

.card p {
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

#lastModified {
    color: yellow;
}