

:root {
    --primary-color: #4A7C59;
    --secondary-color: #D67D3E;
    --accent-color: #E8B047;
    --text-color: white;
    --font-heading: "Playfair Display";
    --font-paragraph:"Lato"

}





.hero picture {
    width: 100vw;
    height: auto;
    display: block;   
}

.hero img {
    width: 100%;
    height: auto;
}
