@media only screen and (min-width: 768px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    main h1 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    .hero span {
        font-size: 2rem;
    }

    .discover {
        font-size: 2rem;
    }
    
    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display:flex;

    }

    .discover {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));
    }    

    .counter {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
    }


    .hover:hover {box-shadow: 0 0 50px #333;
    }
    
}