* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #1E3A5F; 
    --secondary-color: #3B5998; 
    --accent-color:#00B4D8; 
    --text-color: #FFFFFF; 
    --font-heading: "Montserrat", sans-serif;
    --font-paragraph: "lora", serif;
  }

body {
    font-family: var(--font-paragraph);
    margin: 0 auto;
    /* max-width: 800px; */
    padding: 20px;
}

h1, h2 {
    font-family: var(--font-heading);
    /* color: var(--primary-color); */
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
}

header span {
    margin: 20px;
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: bold;
    font-family: var(--font-heading);

}

header img {
    box-shadow: 1px 1px 10px black;
    margin: 20px;
}

#mode {
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 3rem;
	cursor: pointer;
	font-size: 2rem;
    background-color: rgba(255,255,255,0.3);
}

nav {
    background-color: var(--secondary-color);
    margin: 0 auto;
}

#myButton::before {
    content: "\2630";
}

#myButton {
    font-size: 2rem;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: .25rem 2vw;
}

ul.menuLinks li a {
    display: block;
    padding: .75rem 2vw;
    color: #fff;
    text-decoration: none;
}

ul.menuLinks {
    display:none;
    list-style-type: none;
}

#myButton.open::before {
    content: "x";
}

ul.menuLinks.open {
    display: block;
}

nav ul {

    list-style-type: none;
}

nav a {
    display: block;
    color: var(--text-color);
    text-align:center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color .3s;

}


nav a:hover{
    background-color: var(--accent-color);
}

nav .active{
    background-color: rgba(0,0,0,.2);
}

main {
    margin: 1rem 2vw;
    /* max-width: 100%; */
}

main h1 {
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid var(--primary-color);

}
.card  {
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 1rem 0;
    overflow: hidden;

}

.card h2 {
    background-color:var(--primary-color);
    color: #fff;
    display: block;
    padding: .75rem;
    text-align: center;


}

#activities {
    padding: 0;
}

#activities section:last-child {
    border-bottom: none;
}

#activities h3 {
    color: var(--primary-color);
    font-family: var(--font-heading);
    margin-bottom: 0.5rem;
    display: inline-block;
    margin-right: 1rem;
}


#activities section p {
    display: inline;
    margin: 0;
    padding: 0;
}

#activities section p:not(:last-child)::after {
    content: " | ";
    color: #666;
}

.card li {
    padding: 5px;
}

.card p {
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #2C3E50; 
}



p {
    padding: 10px;
}
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

#lastModified {
    color: yellow;
}

.hero {
    position: relative;
}

.hero picture {
    width: 100vw;
    margin: 0 auto;

}

.hero img {
    width: 100%;
    height: auto;
    display: block;

}

.hero span {
    position: absolute;
    bottom: 40%;
    left: 20px;
    width: 40%;
    background-color: rgba(255,255,255, 0.5);
    padding: 1rem;
    text-align: center;
    
}

iframe {
    width: 100%;
    height: auto;
}

.weatherCard {
    text-align: center;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    margin: 1rem 0;
    overflow: hidden;

}


.weatherCard h2 {
    background-color:var(--primary-color);
    color: #fff;
    display: block;
    padding: .75rem;
    text-align: center;
}