@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1E3A5F; 
    --secondary-color: #3B5998; 
    --accent-color:#00B4D8; 
    --text-color: #FFFFFF; 
  }

body {
    font-family: 'Open Sans'; sans-seriff;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    /* color: var(--primary-color); */
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: var(--primary-color);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3E50;
}

header span {
    margin: 20px;
    color: var(--text-color);
    font-size: 1.75rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;


}

header img {
    box-shadow: 1px 1px 10px black;
    margin: 20px;
}

nav {
    background-color: var(--secondary-color);
    margin: 0 auto;
}

nav ul {

    list-style-type: none;
}

nav a {
    display: block;
    color: var(--text-color);
    text-align:center;
    padding: 1rem;
    text-decoration: none;
    transition: background-color .3s;

}


nav a:hover{
    background-color: var(--accent-color);
}

nav .active{
    background-color: rgba(0,0,0,.2);
}

main {
    margin: 1rem 2vw;
    max-width: 800px;
}

main h1 {
    display: inline-block;
    border-bottom: 1px solid var(--primary-color);

}
.card {
    border: 1px solid var(--secondary-color);
    background-color:var(--text-color);
    border-radius: 5px;
    margin: 1rem 0;
    overflow: hidden;

}

.card h2 {
    background-color:var(--primary-color);
    color: #fff;
    display: block;
    padding: .75 rem 0;
    text-align: center;


}

.card li {
    padding: 5px;
}

h1 {
    font-size: 2rem;
    color: #2C3E50; 
}
p {
    padding: 10px;
}
footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}