@media only screen and (min-width: 960px) {
    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
    }

    main h1 {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-content: center;
        width: 100%;

    }

    .card {
        box-shadow: 1px 1px 10px black;
    }
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #myButton {
        display: none;
    }

    ul.menuLinks, ul.menuLinks.open {
        display:flex;

    }

    .hero span {
        font-size: 2rem;
    }
    
    .weatherCard {
        box-shadow: 1px 1px 10px black;
    }
    
}